.root {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 300px;
    width: 100%;
    &.filled {
        max-width: 400px;
    }
}
.input {
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 12px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.48);
    font-size: 14px;
    line-height: 20px;
    &::placeholder {
        color: rgba(0, 0, 0, 0.48);
    }
    &.filled {
        background: rgba(0, 0, 0, 0.04);
    }
}

.label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.error {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.48);
}