.root {
    padding: 62px 110px 80px;
}

@media (max-width: 768px) {
    .root {
        padding: 62px 40px 80px;
    }
}

@media (max-width: 576px) {
    .root {
        padding: 62px 15px 80px;
    }
  }