.advantages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__label {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }
    &__item {
        display: flex;
        gap: 16px;
    }
    &__delete {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: opacity .2s ease;
        &:hover {
            opacity: .7;
        }
    }
    &__add {
        border: 1.5px solid #5558FA;
        border-radius: 4px;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: all .3s ease;
        &::before, &::after {
            content: '';
            position: absolute;
            width: 12px;
            height: 2px;
            border-radius: 4px;
            transition: all .3s ease;
            background-color: var(--color-purple);
        }
        &::after {
            transform: rotate(90deg);
        }
        &:hover {
            background-color: var(--color-purple);
            &::before, &::after {
                background-color: #fff;
            }
        }
    }
}

.label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.CheckboxGroup, .RadioGroup {
    margin-top: 24px;
}


.error {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.48);
}


.buttons {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .buttons {
        flex-direction: column;
        gap: 10px;
    }
}